/* Main CSS file */

/* Style for the logo element */
#logo {
    width: 200px;         /* Set the width of the logo */
    height: 200px;        /* Set the height of the logo */
    background-image: url('../assets/holberton-logo.jpg'); /* Set the background image */
    background-size: cover; /* Ensure the background image covers the entire element */
    background-position: center; /* Center the background image */
}

/* Style for the counter text */
#count {
    font-weight: bold; /* Make the text bold */
    float: right;     /* Position the text to the right of the button */
}

